Repository worgarside/github-config-files, pull requests merged in 2023-04, with the labels that each got.

#20 Add GHA for auto-creating PRs
  .github/sync.yml
  .github/workflows/auto_create_pr.yml
  .github/workflows/create_pr.yml
Labels: enhancement, github-actions, minor

#21 Add proper name to PR label manager step
  .github/workflows/manage_repo_labels.yml
Labels: enhancement, github-actions, non-functional

#23 Add GHA for auto-merging worgarside-dev PRs
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, keep-updated, minor

#24 Stop syncing labeler rules to home-assistant
  .github/sync.yml
Labels: bug, keep-updated

#26 Bugfix for auto-merge job condition
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#29 Bugfix for auto-merge job condition
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#28 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: enhancement, keep-updated, minor

#31 Include `homeassistant.local` branch in PR labeler
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, keep-updated, minor

#32 Fix cross-repo PR referencing
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, keep-updated

#36 Only change merge commit text for GHCF repo
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#40 Refactor auto-merger (`test`) to only edit body on GHCF PRs for special chars ("'/${{\`")
  .github/workflows/create_pr.yml
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#41 Fix bug in auto-PR merger `;_;` "`
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#42 Add `documentation` label
  .github/labeler.yml
  .github/repo_labels.yml
Labels: enhancement, keep-updated, minor

#43 Change auto-merge author to `worgarside`
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, keep-updated, minor

#44 Change labeler author to `worgarside-dev`
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, minor

#45 Separate auto-merger into its own workflow
  .github/sync.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: enhancement, github-actions, keep-updated, minor

#48 Add chore label
  .github/labeler.yml
  .github/repo_labels.yml
Labels: enhancement, keep-updated, minor

#50 Add `python-template` repo
  .github/sync.yml
Labels: enhancement, keep-updated, minor

#51 Update PR auto-update to use `worgarside-dev`
  .github/workflows/pr_autoupdate.yaml
Labels: enhancement, github-actions, keep-updated, minor

#52 Add parameter for PR labels to `create-pr` workflow
  .github/workflows/create_pr.yml
Labels: enhancement, github-actions, keep-updated, minor

#53 Fix bad arg for `gh pr create`
  .github/workflows/create_pr.yml
Labels: bug, github-actions

#54 Update PR branch deleter to use bot label
  .github/delete-merged-branch-config.yml
  .github/repo_labels.yml
  .github/sync.yml
  .github/workflows/delete_pr_branch.yml
Labels: enhancement, github-actions, keep-updated, minor

#55 Add reusable workflows for release lifecycle
  .github/workflows/draft_release.yml
  .github/workflows/get_release_tag.yml
  .github/workflows/publish_release.yml
Labels: enhancement, github-actions, keep-updated, minor

#56 Remove unnecessary params from `create-pr` workflow
  .github/workflows/draft_release.yml
Labels: bug, github-actions, keep-updated

#57 Add ref param to ensure correct branch is cloned for PR creation
  .github/workflows/create_pr.yml
Labels: bug, github-actions, keep-updated

#58 Fix string interpolation for GHA env vars
  .github/workflows/create_pr.yml
Labels: bug, github-actions, keep-updated

#59 Remove quotes to test fix for env var strings
  .github/workflows/create_pr.yml
Labels: bug, github-actions, keep-updated

#60 Demote dependabot auto-merge to minor versions
  .github/workflows/dependabot_auto_merge.yml
Labels: enhancement, github-actions, keep-updated, minor

#63 Remove unnecessary perms from release publisher
  .github/workflows/publish_release.yml
Labels: bug, github-actions, keep-updated

#64 Remove unnecessary clone step
  .github/workflows/publish_release.yml
Labels: bug, github-actions, keep-updated

#67 Stop syncing `.pre-commit-config.yaml`
  .github/sync.yml
Labels: enhancement, keep-updated, minor

#66 Remove `pyproject-fmt` PCH
  .pre-commit-config.yaml
Labels: enhancement, keep-updated, minor

#71 Add name to `delete-pr` job
  .github/workflows/delete_pr_branch.yml
Labels: bug, github-actions

#72 Remove deprecated file from sync config
  .github/sync.yml
Labels: bug, keep-updated

#69 Update dependabot auto-merge to use WG token
  .github/workflows/dependabot_auto_merge.yml
Labels: enhancement, github-actions, keep-updated, non-functional

#70 Only add `release` label for actual release PRs
  .github/labeler.yml
Labels: bug, keep-updated

#65 Sync with HA addon repos
  .github/sync.yml
Labels: enhancement, keep-updated, minor

#73 Fix refs from renaming `.yaml` to `.yml`
  .github/sync.yml
Labels: bug, keep-updated

#74 Only delete branches with `worgarside-dev`
  .github/workflows/delete_pr_branch.yml
Labels: enhancement, github-actions, keep-updated, non-functional

#75 Fix branch deleter permissions
  .github/workflows/delete_pr_branch.yml
Labels: bug, github-actions, keep-updated

#76 Remove `homeassistant.local` branch
  .github/labeler.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/pr_autoupdate.yml
  .github/workflows/run_sonarcloud_scan.yml
Labels: enhancement, github-actions, keep-updated, minor

#77 Fix non-usage of `inputs.head-ref-name` in release drafter workflow
  .github/workflows/draft_release.yml
Labels: bug, github-actions, keep-updated

#79 Fix file extensions in sync config
  .github/sync.yml
Labels: bug, keep-updated

#78 Add input logs for reusable workflows
  .github/workflows/create_pr.yml
  .github/workflows/draft_release.yml
  .github/workflows/get_release_tag.yml
  .github/workflows/publish_release.yml
  .github/workflows/sonarcloud.yml
Labels: enhancement, github-actions, keep-updated, minor

#80 Add release-specific auto-merging behaviour
  .github/workflows/set_pr_auto_merge.yml
Labels: bug, github-actions, keep-updated
